@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

iframe {
    transition: left 1.5s ease-in-out, right 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out;
}

#achievement-section {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: relative;

}

#title {
    font-family: "Rubik Wet Paint", serif;
    font-weight: 400;
    color: rgb(240, 145, 3);
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    font-size: 50px;
}
#a-detail{
    position: relative;
    font-size: 25px;
}

/* d3 */
#y-axis{
    color:rgb(143, 63, 3);
    stroke-width: 5px;
    font-size: 19px;
}
#flag{
    transform: scaleX(-1) rotate(-35deg);    
}
#Cscroll{
    transform: rotate(-1deg);
    transition: left 1.5s ease-in-out, right 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out;
    z-index:1;
}
#Oscroll{
    transform: rotate(-1deg);
    transition: left 1.5s ease-in-out, right 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out;
    z-index:20;
}
