@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

iframe {
    transition: left 1.5s ease-in-out, right 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out;
}

#project-section {
    position: relative;
    margin-top: 8vw;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;

}

#title-p{
    font-family: "Rubik Wet Paint", serif;
    font-size:4vw;
    font-weight: 400;
    color: rgb(240, 145, 3);
    text-shadow: 2px 2px 5px rgb(149, 146, 146);
}

#options {
    display: flex;
    width: 100%;
    justify-content: center;
}

#options button {
    position: relative;
    margin: 3vw 1vw;
    padding: 0.7vw 1.2vw;
    font-size: 1.2vw;
    border-radius: 2vw;
    border: none;
    box-shadow: inset 0 0.3vw 1vw black;
    background-color: rgba(255, 140, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#options button:hover {
    background-color: rgb(255, 119, 0);
    box-shadow: 0 0.3vw 1vw black;
}

#options .active {
    box-shadow: 0 0.3vw 1vw black;
    background-color: rgb(255, 119, 0);
}

#project-card {
    position: relative;
    display: flex;
    margin: vw 0;
    margin-left: -3vw;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    align-items: center;
    height: 30vw;
}

#project-card::after {
    content: "";
    position: absolute;
    width: 10vw;
    left: 0;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0)10%, #e9eea5);
}

#project-card::before {
    content: "";
    position: absolute;
    width: 10vw;
    right: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0)10%, #f1b1e4);
}

#project-card .card {
    position: absolute;
    flex-shrink: 0;
    width: 12vw;
    height: 18.3vw;
    background-color: rgb(135, 177, 180);
    border: 1px solid #ccc;
    border-radius: 1vw;
    box-shadow: vw 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: left 1.5s ease-in-out, right 1.5s ease-in-out, height 1.5s ease-in-out, width 1.5s ease-in-out;
}

#project-card .card-3 {
    
    width: 20vw;
    height: 24.5vw;
    z-index: 22;
}

#project-card .card-2,
#project-card .card-4 {
    opacity: 0.5;
    width: 14vw;
    height: 21vw;
}

#project-card .card-1,
#project-card .card-5 {
    opacity: 0.2;
}

/* project info card-1,card-5 */
.card iframe {
    width: 12vw;
    height: 7vw;
}

.card #p-title{
    margin: 0.5vw;
    font-size: 1vw;
}

.card #p-stack{
    display: flex;
    align-items: center;
    gap: 0.5vw;
    justify-content: center;
}

.card #p-stack p{
    font-weight: bold;
    font-size: 0.7vw;
}

.card #line-left,
.card #line-right {
    width: 3vw;
    height: 5px;
    background-color: black;
}

.card #p-res {
    margin-top: 0.5vw;
    font-size: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
}

.card #p-res p {
    padding: 4px 8px;
    color: rgb(255, 255, 255);
    border-radius: 1vw;
}

.card #p-detail {
    white-space: normal;
    font-size: 0.7vw;
    margin: 1vw;
    line-height: 0.9vw;
    text-align: justify;
}

.card #b-detail {
    display: none;
}

/* project info card-3 */
.card-3 iframe {
    width: 20vw;
    height: 11vw;
}

.card-3 #p-title {
    margin: 0.5vw;
    font-size: 1.5vw;
}

.card-3 #p-stack {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    justify-content: center;
}

.card-3 #p-stack p {
    font-weight: bold;
    font-size:1vw;
}

.card-3 #line-left,.card-3
#line-right {
    width: 6vw;
    height: 5px;
    background-color: black;
}

.card-3 #p-res {
    margin-top: 0.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vw;
    font-size: 0.8vw;
    flex-wrap: wrap;
}

.card-3 #p-res p {
    padding: 0.3vw 1vw;
    color: rgb(255, 255, 255);
    border-radius: 1vw;
}

.card-3 #p-detail {
    white-space: normal;
    margin: 0.7vw;
    font-size:0.8vw;
    text-align: justify;
    line-height: 1vw;
}

.card-3 #b-detail {
    display: block;
    font-size:1vw;
    position: absolute;
    bottom: 0.5vw;
    left: 7vw;
    padding: 0.3vw 0.5vw;
    background-color: rgb(135, 177, 180);
    border: none;
    border-radius: 15px;

}

.card-3 #b-detail:hover {
    background-color: rgb(1, 171, 184);
}

/* project info card-2,card-4 */
.card-2 iframe,
.card-4 iframe {
    width: 14vw;
    height: 8vw;
}

.card-2 #p-title,
.card-4 #p-title {
    margin: 0.5vw;
    font-size: 1.1vw;
}

.card-2 #p-stack,
.card-4 #p-stack {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    justify-content: center;
}

.card-2 #p-stack p,
.card-4 #p-stack p {
    font-weight: bold;
    font-size: 0.8vw;
}

.card-2 #line-left,
.card-2 #line-right,
.card-4 #line-left,
.card-4 #line-right {
    width: 4vw;
    height: 5px;
    background-color: black;
}

.card-2 #p-res,
.card-4 #p-res {
    margin-top: 0.5vw;
    font-size: 0.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
    flex-wrap: wrap;
}

.card-2 #p-res p,
.card-4 #p-res p {
    padding: 4px 8px;
    color: rgb(255, 255, 255);
    border-radius: 1vw;
}

.card-2 #p-detail,
.card-4 #p-detail {
    white-space: normal;
    font-size: 0.7vw;
    margin: 0.7vw;
    text-align: justify;
    line-height: 1vw;
}

.card-2 #b-detail,
.card-4 #b-detail {
    display: none;

}

